<launch>
      <node pkg="zzz_planning_decision_continuous_models" type="continuous_learning_node" respawn="true"
            name="continuous_learning_node" output="screen" ns="/zzz/planning">
      </node>

      <!-- <node pkg="zzz_planning_decision_lane_models" type="idm_lane_utility"  respawn="true"
            name="idm_lane_utility" output="screen" ns="/zzz/planning">
      </node> -->

      <!-- <include file="$(find lattice_planning)/launch/lattice_planning.launch">
  
      </include> -->
      
      <!--rls node-->
      <!-- 
            <node pkg="zzz_planning_decision_lane_models" type="rls_train"  respawn="true"
                  name="rls_train" output="screen" ns="/zzz/planning">
            </node> 
      -->

</launch>
